body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 25px;
}

h1 {
    text-align: center;
    color: #2756cb;
    margin: 0;
}

h2 {
    color: #0a0a0a;
}

#repos {
    max-width: 800px;
    margin: 0 auto;
    background: #97a2b2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #777;
}